**Code to write multiplication tables prompting user to choose a desire tables as well as multiples**

In [4]:
a = int(input('Ener which tables you want ? \n '))  # asking the user to input which tables and converting string into int
b = int(input('Enter from which multiple to start ? \n')) # asking the user to input from which multiple to start and converting string into int
c = int(input('Enter upto to which multiple you want ? \n')) # asking the user to input upto which multiple it should stop and converting string into int

def tables(m,n,p):
  for i in range(n,p+1):
   print(m, 'x', i, '=', m*i)

tables(a,b,c)

Ener which tables you want ?
 6
Enter from which table to start ?
-4
Enter upto to which multiple you want ?
12
6 x -4 = -24
6 x -3 = -18
6 x -2 = -12
6 x -1 = -6
6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72